* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background-color: #3a3c4a;
  font-family: "Mali", cursive;
  color: #ffffff;
}

footer {
  background-color: #3a3c4a;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.15em;
  padding: 10px 25px;
}

h2 {
  font-family: "Mali", cursive;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 83px;
  letter-spacing: 0.15em;
  color: #3a3c4a;
  margin-top: 30px;
}

h2:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 345px; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  margin-bottom: 95px;
  border-bottom: 3px solid #ffb50f;
}

section {
  padding: 0 25px;
}

/* Flexbox */

.flex-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
}

.flex-container.left-align {
  justify-content: flex-start;
}

/* NAVIGATION SECTION */

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 25px;
  background-color: rgba(58, 60, 74, 0.98);
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 2px rgba(58, 60, 74, 0.98);
  box-shadow: 0 2px 2px rgba(58, 60, 74, 0.98);
  z-index: 9999;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}

.main-nav ul {
  margin: 5px auto;
}

.main-nav li {
  display: inline-block;
}

.main-nav li:not(:first-child) {
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 1s;
  -o-transition: border-bottom 1s;
  transition: border-bottom 1s, color 1s;
}

.main-nav li a:active,
.main-nav li a:hover {
  color: #a1cbe2;
  border-bottom: 2px solid #a1cbe2;
}

/* HERO SECTION */

.hero {
  padding: 200px 25px;
}

.hero h1 {
  /* font-family: "Mali", cursive; */
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 62px;
}

.hero-btn {
  width: 255px;
  height: 57px;
  border: 3px solid #ffd473;
  border-radius: 15px;
  margin-top: 50px;
  margin-right: 40px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  transition: background-color 0.5s, color 0.5s;
}

.hero-btn:hover {
  background-color: #ffb50f;
  color: #3a3c4a;
  border: 3px solid #ffb50f;
}

.hero-btn-full {
  background-color: #ffd473;
  color: #3a3c4a;
}

.hero-btn-ghost {
  background-color: transparent;
  color: #ffd473;
}

.highlight {
  color: #f9c543;
}

/* RESPONSIVE LAYOUT */

@media (max-width: 850px) {
  .flex-container {
    flex-direction: column;
  }
}
