* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

header {
  background-color: #3a3c4a;
  font-family: "Mali", cursive;
  color: #ffffff;
}

footer {
  background-color: #3a3c4a;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.15em;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-family: "Mali", cursive;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 83px;
  letter-spacing: 0.15em;
  color: #3a3c4a;
  margin-top: 30px;
}

h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 345px;
  padding-top: 20px;
  margin-bottom: 95px;
  border-bottom: 3px solid #ffb50f;
}

/* FLEXBOX */

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row;
  flex-flow: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 25px;
}

.flex-container.left-align {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-container-images {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  margin: auto 0;
}

/* MAIN CONTENT AND FOOTER */

.main-content {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 49px; /* height of your footer */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  display: block;
}

/* NAVIGATION SECTION */

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  padding: 0 25px;
  background-color: rgba(58, 60, 74, 0.98);
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 2px rgba(58, 60, 74, 0.98);
  box-shadow: 0 2px 2px rgba(58, 60, 74, 0.98);
  z-index: 9999;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}

#nav_mobile_wrapper {
  margin: 5px auto;
}

#nav_links a {
  display: inline-block;
  margin: 0 20px;
}

.nav-menu a:link,
.nav-menu a:visited {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 1s;
  -o-transition: border-bottom 1s;
  -webkit-transition: border-bottom 1s, color 1s;
  -o-transition: border-bottom 1s, color 1s;
  transition: border-bottom 1s, color 1s;
}

.nav-menu a:active,
.nav-menu a:hover {
  color: #a1cbe2;
  border-bottom: 2px solid #a1cbe2;
}

#nav_mobile_icon {
  cursor: pointer;
  color: #ffffff;
  display: none;
  font-size: 43px;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

#nav_mobile_icon:hover {
  color: #a1cbe2;
}

/* HERO SECTION */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 62px;
}

.hero-btn {
  display: inline-block;
  width: 255px;
  height: 57px;
  border: 3px solid #ffd473;
  border-radius: 15px;
  margin-top: 50px;
  margin-right: 40px;
  padding: 6px 0;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.5s, color 0.5s;
  -o-transition: background-color 0.5s, color 0.5s;
  transition: background-color 0.5s, color 0.5s;
}

.hero-btn:hover {
  background-color: #ffb50f;
  color: #3a3c4a;
  border: 3px solid #ffb50f;
}

.hero-btn-full {
  background-color: #ffd473;
  color: #3a3c4a;
}

.hero-btn-ghost {
  background-color: transparent;
  color: #ffd473;
}

.highlight {
  color: #f9c543;
}

/* WORK EXAMPLES */

.work-exapmles {
  padding-bottom: 150px;
}

.work-exapmles-image {
  width: 445px;
  margin: 25px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.work-exapmles-image:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* USER EXPERIENCE VALUES */

.user-experience-values {
  background-color: #a1cbe2;
}

.user-experience-values-btn {
  border: none;
  border-radius: 50%;
  min-width: 200px;
  height: 200px;
  background: #fdfdfd;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin: 0 60px 95px 60px;
  color: #3a3c4a;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.user-experience-values-icon {
  color: #ffd473;
  font-size: 100px;
}

/* RESPONSIVE LAYOUT */

@media (max-width: 850px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main-content {
    padding-bottom: 78px; /* height of your footer */
  }

  .hero h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 54px;
  }

  .work-exapmles-image {
    width: 360px;
  }
}

@media (max-width: 414px) {
  .hero h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 44px;
    padding-left: 34px;
  }

  .work-exapmles-image {
    width: 320px;
  }
}

/* SWICH TO MOBILE MENU */

@media screen and (max-width: 850px) {
  /* BREAK INTO VERTICAL MENU */
  #nav_links a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  /* SHOW HAMBURGER ICON */
  #nav_mobile_icon {
    display: inline-block;
    text-align: center;
  }

  /* TOGGLE SHOW/HIDE MENU */
  #nav_links {
    display: none;
  }

  #nav_mobile_wrapper {
    text-align: center;
  }
}

@media screen and (min-width: 851px) {
  #nav_links {
    display: block !important;
  }
}
/* Teaching */
.content-flex {
  display: flex;
}

.teaching-heading {
  display: flex;
  font-family: "Mali", cursive;
  color: #3a3c4a;
  font-size: 28px;
  padding-top: 70px;
  padding-bottom: 30px;
}

.teaching-boxes {
  display: flex;
  align-items: center;
  padding: 20px;
}

.teaching-boxes img {
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.teaching-boxes img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
