* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  position: relative;
}

header {
  background-color: #3a3c4a;
  font-family: "Mali", cursive;
  color: #ffffff;
}

footer {
  background-color: #3a3c4a;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.15em;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-family: "Mali", cursive;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 83px;
  letter-spacing: 0.15em;
  color: #3a3c4a;
  margin-top: 30px;
}

h2:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 345px;
  padding-top: 20px;
  margin-bottom: 95px;
  border-bottom: 3px solid #ffb50f;
}

/* FLEXBOX */

.flex-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 25px;
}

.flex-container.left-align {
  justify-content: flex-start;
}

/* MAIN CONTENT AND FOOTER */

.main-content {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 49px; /* height of your footer */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  display: block;
}

/* NAVIGATION SECTION */

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 0 25px;
  background-color: rgba(58, 60, 74, 0.98);
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-shadow: 0 2px 2px rgba(58, 60, 74, 0.98);
  box-shadow: 0 2px 2px rgba(58, 60, 74, 0.98);
  z-index: 9999;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
}

.main-nav ul {
  margin: 5px auto;
}

.main-nav li {
  display: inline-block;
  margin: 0 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 1s;
  -o-transition: border-bottom 1s;
  transition: border-bottom 1s, color 1s;
}

.main-nav li a:active,
.main-nav li a:hover {
  color: #a1cbe2;
  border-bottom: 2px solid #a1cbe2;
}

.mobile-nav-icon {
  float: left;
  cursor: pointer;
  color: #ffffff;
  display: none;
  transition: color 1s;
}

.mobile-nav-icon:hover {
  color: #a1cbe2;
}

/* HERO SECTION */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 62px;
}

.hero-btn {
  width: 255px;
  height: 57px;
  border: 3px solid #ffd473;
  border-radius: 15px;
  margin-top: 50px;
  margin-right: 40px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.hero-btn:hover {
  background-color: #ffb50f;
  color: #3a3c4a;
  border: 3px solid #ffb50f;
}

.hero-btn-full {
  background-color: #ffd473;
  color: #3a3c4a;
}

.hero-btn-ghost {
  background-color: transparent;
  color: #ffd473;
}

.highlight {
  color: #f9c543;
}

/* WORK EXAMPLES */

.work-exapmles {
  padding-bottom: 150px;
}

.work-exapmles-image {
  width: 445px;
  margin: 25px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: transform 0.5s;
}

.work-exapmles-image:hover {
  transform: scale(1.05);
}

/* USER EXPERIENCE VALUES */

.user-experience-values {
  background-color: #a1cbe2;
}

.user-experience-values-btn {
  border: none;
  border-radius: 50%;
  min-width: 200px;
  height: 200px;
  background: #fdfdfd;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  margin: 0 60px 95px 60px;
  color: #3a3c4a;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.user-experience-values-icon {
  color: #ffd473;
  font-size: 100px;
}

/* RESPONSIVE LAYOUT */

@media (max-width: 1470px) {
  .flex-container.large-break {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .flex-container {
    flex-direction: column;
  }

  .mobile-nav-icon {
    display: inline-block;
    font-size: 50px;
    margin-top: 5px;
  }

  .main-nav {
    display: none;
  }

  .main-nav {
    float: left;
    margin-top: 30px;
    margin-left: 25px;
  }

  .main-nav li {
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited {
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }
}
